@import vars
@import fonts
@import libs
@import "_nice-select"
@import aos

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

html
	scroll-behavior: smooth;
	font-size: 1px
	+media-breakpoint-down(sm)
		font-size: 0.8px
	+media-breakpoint-down(xs)

body
	position: relative
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: 'Proxima Nova', sans-serif
	font-weight: 400
	overflow-x: hidden
	color: $white

a
	color: $white
	&:hover
		color: $white
		text-decoration: none
	&:visited
		color: inherit

p
	margin: 0

button
	all: unset

*
	box-sizing: border-box

img
	max-width: 100%
	height: auto

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden 
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

.container
	max-width: vw(1530)
	padding:
		right: 
		left: 
	margin:
		left: auto
		right: auto  
	+media-breakpoint-down(lg)
		max-width: 90vw	

ul
	list-style: none
	margin: 0
	padding: 0

// Custom Sass / Remove before use


.img-responsive
	display: block
	max-width: 100%
	height: auto


.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)

.main-header
	margin-bottom: vw(30)
	padding-top: vw(37)
	display: flex
	justify-content: space-between
	+media-breakpoint-down(lg)
		flex-wrap: wrap
		// margin-bottom: 30rem
		padding-top: 37rem
	@media (max-width: 350px)
		justify-content: center

.hero-bg
	position: relative
	height: vw(1300)
	background-color: 
	background:  url(../img/src/hero-left.png) no-repeat top left / vw(612) vw(1190), url(../img/src/hero-center-right.png) no-repeat top center / vw(612) vw(1190), url(../img/src/hero-right.png) no-repeat right bottom / vw(582) vw(884) #1b1b1b
	overflow: hidden
	+media-breakpoint-down(lg)
		min-height: 1279rem
		background-size: 450rem 868rem
	@media (max-width: 1125px)
		height: auto
	+media-breakpoint-down(md)
		background-position: -50rem bottom
	+media-breakpoint-down(sm)
		background-image: none
		background-color: #1b1a1a

.logo
	display: flex
	align-items: flex-end
	align-self: flex-start
	+media-breakpoint-down(lg)
		margin-bottom: 20rem
	+media-breakpoint-down(xs)
		flex-direction: column
		align-items: end

.logo img
	margin-right: vw(44)
	+media-breakpoint-down(lg)
		margin-right: 44rem
	+media-breakpoint-down(xs)
		margin-bottom: 10rem

.logo-text
	padding-bottom: vw(2)
	font-family: "Proxima Nova"
	font-size: vw(14)
	font-weight: 300
	line-height: vw(19)
	opacity: 0.5
	color: $whitish
	letter-spacing: vw(0.7)
	+media-breakpoint-down(lg)
		padding-bottom: 2rem
		font-size: 14rem
		line-height: 19rem
		letter-spacing: 0.7rem
	+media-breakpoint-down(xs)
		margin-left: 10rem

// .contacts
// 	+media-breakpoint-down(lg)
// 		display: flex
// 		flex-direction: column


.phones
	display: flex
	margin-bottom: vw(24)
	+media-breakpoint-down(lg)
		margin-bottom: 24rem
	+media-breakpoint-down(md)
		flex-direction: column

.phone-numb
	font-family: "Proxima Nova"
	color: $whitish
	font-size: vw(16)
	font-weight: 700
	line-height: vw(19)
	letter-spacing: vw(0.8)
	+media-breakpoint-down(lg)
		font-size: 12rem
		line-height: 19rem
		letter-spacing: .8rem
	&:hover
		color: $accent

.phones-item
	+media-breakpoint-down(md)
		margin-bottom: 10rem

.phones-item img
	margin-right: vw(11)
	+media-breakpoint-down(lg)
		margin-right: 11rem

.phones-item:first-child
	margin-right: vw(30)
	+media-breakpoint-down(lg)
		margin-right: 30rem	

.socials
	text-align: right
	+media-breakpoint-down(xs)
		margin-bottom: 30rem

.socials img
	margin-right: vw(9)	
	+media-breakpoint-down(lg)
		margin-right: 9rem

.socials__btn
	display: inline-flex
	justify-content: center
	align-items: center
	margin-left: auto
	padding: vw(14) vw(24)
	// width: vw(186)
	// height: vw(46)
	background-image: linear-gradient(to top, #171719 0%, #27272b 98%, #27272b 100%)
	transform: skew(-10deg)
	align-items: center
	border-radius: vw(10)
	cursor: pointer
	+media-breakpoint-down(lg)
		padding: 14rem 24rem
		border-radius: 10rem
	&:hover
		box-shadow: vw(5) vw(5) vw(15) $accent
		transition: all .2s
		+media-breakpoint-down(lg)
			box-shadow: 5rem 5rem 15rem $accent
		a
			border-bottom: none

.social__text
	font-family: "Proxima Nova"
	color: $white
	font-size: vw(12)
	font-weight: 400
	line-height: vw(16)
	text-transform: uppercase
	letter-spacing: vw(1)
	border-bottom: vw(1) dashed #0078a5
	transform: skew(10deg)
	+media-breakpoint-down(lg)
		font-size: 12rem
		line-height: 16rem
		letter-spacing: 1rem
		border-bottom: 1rem dashed #0078a5

.hero
	text-align: center

.hero-title
	font-size: vw(22)
	margin-bottom: vw(30)
	display: inline-block
	padding: vw(12) vw(45) vw(8) vw(45)
	background-color: $accent
	transform: skew(-10deg)
	letter-spacing: vw(1.1)
	border-radius: vw(5)
	text-transform: uppercase
	+media-breakpoint-down(lg)
		font-size: 22rem
		margin-bottom: 30rem
		padding: 10rem 45rem 6rem 45rem
		letter-spacing: 1.1rem
		border-radius: 5rem
	p
		transform: skew(10deg)
	span
		color: $white
		font-weight: 800
		
.hero__date
	margin-bottom: vw(15)
	display: flex
	justify-content: center
	align-items: center
	+media-breakpoint-down(lg)
		margin-bottom: 15rem

.hero__date img
	margin-right: vw(16)
	+media-breakpoint-down(lg)
		margin-right: 16rem

.date__bold
	margin-right: vw(10)
	color: $accent	
	font-family: "Bebas Neue"
	font-size: vw(48)
	font-weight: 700
	line-height: vw(48)
	+media-breakpoint-down(lg)
		margin-right: 10rem
		font-size: 48rem
		line-height: 48rem

.date__month
	margin-right: vw(11)
	font-family: "Bebas Neue"
	color: $white	
	font-size: vw(42)
	line-height: vw(42)
	font-weight: 300
	text-transform: uppercase
	letter-spacing: vw(0.9)
	+media-breakpoint-down(lg)
		margin-right: 11rem
		font-size: 42rem
		line-height: 42rem
		letter-spacing: .9rem

.date__time
	display: block
	font-family: "Muller"
	color: #fffffe
	opacity: .54
	font-size: vw(12)
	font-weight: 400
	text-transform: uppercase
	letter-spacing: vw(1.8)
	+media-breakpoint-down(lg)
		font-size: 12rem
		letter-spacing: 1.8rem

.hero-h1
	margin-bottom: vw(0)
	font-family: "Bebas Neue"
	font-weight: 400
	color: $white
	font-size: vw(68)
	line-height: 1
	letter-spacing: vw(2.4)
	text-shadow: 0 0 vw(103) rgba(0, 52, 255, 0.25)
	+media-breakpoint-down(lg)
		font-size: 68rem
		letter-spacing: 2.4rem
		text-shadow: 0 0 103rem rgba(0, 52, 255, 0.25)
	+media-breakpoint-down(md)
		font-size: 46rem
	+media-breakpoint-down(sm)
		font-size: 40rem
	span
		font-family: "MyriadPro"
		font-weight: 600
		font-size: vw(72)
		letter-spacing: vw(1.1)
		+media-breakpoint-down(lg)
			font-size: 72rem
			letter-spacing: 1.1rem
		+media-breakpoint-down(md)
			font-size: 46rem
		+media-breakpoint-down(sm)
			font-size: 40rem
	br
		+media-breakpoint-down(lg)
			display: none

.hero__form
	position: relative
	display: flex
	justify-content: space-between
	padding-top: vw(70)
	overflow: hidden
	+media-breakpoint-down(lg)
		flex-wrap: wrap
		justify-content: center
		padding-top: 70rem


.form__author
	position: relative
	+media-breakpoint-down(lg)
		top: 0rem
		left: 0rem
		width: 530rem
	@media (max-width: 1125px)
		order: 2
	+media-breakpoint-down(sm)
		

.author-img
	width: vw(450)	
	// height: vw(868)
	+media-breakpoint-down(lg)
		width: 450rem
	+media-breakpoint-down(lg)
		width: auto

.author__info
	position: absolute
	left: 45%
	top: 45%
	// animation: pulse 2s infinite
	

.author__icon
	position: relative
	display: flex
	justify-content: center
	align-items: center
	width: vw(65)
	height: vw(65)
	background-color: $accent
	box-shadow: 0 0 vw(49) rgba(0, 52, 255, 0.3)
	border-radius: vw(15)
	transform: skew(-4deg)
	cursor: pointer
	z-index: 2
	animation: pulse 2s infinite
	&:hover
		animation: none
	+media-breakpoint-down(lg)
		width: 65rem
		height: 65rem
		filter: drop-shadow(0 0 49rem rgba(0, 52, 255, 0.3)) 
		border-radius: 15rem
	img
		transform: skew(4deg)
	
@keyframes pulse 
	0% 
		box-shadow: 0 0 0 2px rgba($accent, 0.7)
	70% 
		box-shadow: 0 0 0 40px rgba($accent, 0)
	100% 
		box-shadow: 0 0 0 0 rgba(204,169,44, 0)
  


.author__mockup
	position: absolute
	top: vw(165)
	left: vw(574)
	width: vw(409)	
	z-index: 5
	+media-breakpoint-down(lg)
		display: none
		top: 165rem
		left: 574rem
		width: 409rem

.author__decs
	position: absolute
	bottom: 50%
	left: 50%
	padding: vw(40) vw(32) vw(23) vw(40)
	width: vw(285)
	text-align: left
	background-image: linear-gradient(to top, #171719 0%, #202020 98%, #202020 100%)
	border-radius: vw(5)
	clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%)
	z-index: 1
	+media-breakpoint-down(lg)
		padding: 40rem 32rem 23rem 40rem
		width: 285rem
		border-radius: 5rem
	+media-breakpoint-down(xs)
		transform: translateX(-50%)	
		bottom: 120%
	&:before
		content: ""
		display: block
		position: absolute
		top: vw(7)
		left: vw(0)
		width: vw(33)
		height: vw(55)
		background: url(../img/src/lightning-blue.png) no-repeat
		z-index: 3
		+media-breakpoint-down(lg)
			top: 7rem
			left: 10rem
			width: 33rem
			height: 55rem

.author__decs__header
	margin-bottom: vw(11)
	font-family: "Bebas Neue"
	font-weight: 700
	font-size: vw(23)
	line-height: vw(12)
	letter-spacing: vw(1.35)
	+media-breakpoint-down(lg)
		font-size: 23rem
		line-height: 1
		letter-spacing: 1.35rem

.author__decs__item
	margin-bottom: vw(5)
	font-weight: 300
	line-height: vw(13)
	font-size: vw(10)
	letter-spacing: vw(0.6)
	+media-breakpoint-down(lg)
		margin-bottom: 5rem
		line-height: 13rem
		font-size: 10rem
		letter-spacing: .6rem
	span
		font-weight: 800

.author__decs__item--accent
	color: 	$accent
	
.hero__signup
	position: relative
	display: flex
	flex-direction: column
	justify-content: center
	top: vw(-10)
	margin-right: vw(140)
	margin-bottom: vw(100)
	// padding: vw(56) vw(64) vw(48) vw(64)
	width: vw(483)
	height: vw(652)
	text-align: center
	filter: drop-shadow(0px 1px 65px rgba(0, 0, 0, 0.4))
	background: url(../img/svg/form-hero.svg) no-repeat center center / vw(483) vw(652)
	+media-breakpoint-down(lg)
		top: -10rem
		margin-right: 0rem
		// margin-bottom: 100rem
		// padding: 56rem 64rem 48rem 64rem
		width: 483rem
		min-height: 652rem
		background-size: 483rem 652rem
	+media-breakpoint-down(sm)
		
	@media (max-width: 500px)
		// left: -10vw
		padding: 
			left: 10rem
			right: 10rem
		width: 360rem
		background-size: 360rem 650rem
	&:before
		content: ""
		position: absolute
		top: vw(-45)
		left: vw(-300)
		width: vw(263)
		height: vw(143)
		background: url('../img/src/hero-arrow.png') no-repeat center / contain
		animation: arrow 2s infinite
		+media-breakpoint-down(lg)
			display: none
			top: -45rem
			left: -300rem
			width: 263rem
			height: 143rem
	&:after
		content: ""
		position: absolute
		top: vw(110)
		left: vw(-330)
		width: vw(409)
		height: vw(445)
		background: url('../img/src/mockup.png') no-repeat center / cover
		animation: fly 2s infinite ease
		+media-breakpoint-down(lg)
			display: none
			top: 110rem
			left: -300rem
			width: 409rem
			height: 445rem

@keyframes fly 
	0%
		transform: translateY(0) 
	// 33%
	// 	transform: translateY(-5%) 
	50%
		transform: translateY(5%) skew(15deg) rotateX(40deg) rotateY(10deg)

	// 66%
	// 	transform: translateY(10%)
	100% 
		transform: translateY(0)


@keyframes arrow
	0%
		transform: translate(0) 
	50%
		transform: translate(-10%, -25%) rotate(15deg) 
	100%
		transform: translate(0, 0)

.hero__signup .date__bold
	font-size: vw(37)
	line-height: vw(37)
	margin-right: vw(7)
	+media-breakpoint-down(lg)
		font-size: 37rem
		line-height: 37rem
		margin-right: 7rem

.hero__signup .date__time
	font-size: vw(9)	
	+media-breakpoint-down(lg)
		font-size: 9rem

.hero__signup .hero__date img
	width: vw(39)	
	margin-right: vw(11)
	+media-breakpoint-down(lg)
		width: 39rem	
		margin-right: 11rem

.hero__signup .date__month
	font-size: vw(32)	
	margin-right: vw(8)
	+media-breakpoint-down(lg)
		font-size: 32rem
		margin-right: 8rem

.hero__signup-header
	margin-bottom: vw(15)
	font-size: vw(13)
	letter-spacing: vw(0.7)
	+media-breakpoint-down(lg)
		margin-bottom: 15rem
		font-size: 13rem
		letter-spacing: .7rem

.hero__signup .hero__date
	margin-bottom: vw(15)
	+media-breakpoint-down(lg)
		margin-bottom: 5rem

.signup__getpdf
	margin-bottom: vw(5)
	font-size: vw(13)
	color: #969494
	letter-spacing: vw(0.7)
	+media-breakpoint-down(lg)
		margin-bottom: 10rem
		font-size: 13rem
		letter-spacing: .7rem

.signup__title
	margin-bottom: vw(15)
	font-family: "Bebas Neue"
	font-weight: 700
	font-size: vw(24)
	line-height: vw(34.3)
	letter-spacing: vw(0.7)
	+media-breakpoint-down(lg)
		margin-bottom: 15rem
		font-size: 24rem
		line-height: 34.3rem
		letter-spacing: 0.7rem
	br
		@media (max-width: 500px)
			display: none

.signup-form
	margin-bottom: vw(22)
	+media-breakpoint-down(lg)
		margin-bottom: 22rem

.signup-form label
	display: block
	margin-bottom: vw(8)
	font-size: vw(12)
	letter-spacing: vw(0.13)
	+media-breakpoint-down(lg)
		margin-bottom: 8rem
		font-size: 12rem
		letter-spacing: .13rem

label[for="input-phone"]
	position: relative
	&:before
		content: ""
		position: absolute
		display: block
		width: vw(54)
		height: vw(77)
		top: vw(45)
		left: vw(25)
		background: url('../img/src/arrow-to-btn.png') no-repeat center center / contain		
		+media-breakpoint-down(lg)
			width: 54rem
			height: 77rem
			top: 45rem
			left: 25rem
		+media-breakpoint-down(xs)
			display: none


.signup-form input
	display: inline-block
	padding: 0 vw(25)	
	width: vw(289)
	height: vw(48)
	margin-bottom: vw(15)
	color: #fff
	font-size: vw(13)
	line-height: 1
	letter-spacing: vw(0.7)
	background-color: #1c1c1d
	border: vw(1) solid #292929
	border-radius: vw(5)
	+media-breakpoint-down(lg)
		padding: 0 25rem	
		width: 289rem
		height: 48rem
		margin-bottom: 15rem
		font-size: 13rem
		letter-spacing: .7rem
		border: 1rem solid #292929
		border-radius: 5rem	
	&:placeholder
		color: #969494
		font-size: vw(13)
		font-weight: 300
		line-height: vw(40)
		letter-spacing: vw(0.7)
		+media-breakpoint-down(lg)
			font-size: 13rem
			line-height: 40rem
			letter-spacing: .7rem



.select-occupation-wrap
	display: flex
	justify-content: center

.select-occupation
	display: flex
	align-items: center
	margin-bottom: vw(15)
	// padding: vw(15) vw(25)	
	width: vw(289)
	height: vw(48)
	color: #fff
	line-height: 1
	background-color: #1c1c1d
	border: vw(1) solid #292929
	border-radius: vw(5)
	+media-breakpoint-down(lg)
		margin-bottom: 15rem
		padding: 15rem 25rem	
		width: 289rem
		height: 48rem
		border: 1rem solid #292929
		border-radius: 5rem

.select-occupation .current	
	font-size: vw(13)
	color: #969494
	+media-breakpoint-down(lg)
		font-size: 13rem

.select-occupation .option
	width: vw(289)
	padding: 0 vw(30)
	background-color: #1c1c1d
	+media-breakpoint-down(lg)
		width: 289rem
		padding: 0 30rem
	
.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover
	background-color: $accent

.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover
	background-color: $accent

.nice-select .list
	background-color: #1c1c1d	

.btn
	background-image: linear-gradient(to top, #0034ff 0%, #4f71f8 100%)
	border-radius: vw(15)
	text-transform: uppercase
	display: inline-flex
	align-items: center
	color: #fffefe
	font-weight: 700
	letter-spacing: vw(1)
	transition: box-shadow .2s ease-in
	overflow: hidden
	+media-breakpoint-down(lg)
	&:hover
		box-shadow: 0 0 vw(30) vw(5) $accent
		transition: box-shadow .2s ease-in
		+media-breakpoint-down(lg)
			box-shadow: 0 0 30rem 5rem $accent
	&:active
		outline: none

.input-sbmt-btn
	position: relative
	padding: vw(21) vw(50) vw(18) vw(60)
	width: vw(289)
	box-sizing: border-box
	font-size: vw(11)
	+media-breakpoint-down(lg)
		padding: 21rem 50rem 18rem 60rem
		width: 289rem
		font-size: 11rem
	span
		margin-right: vw(16)
		text-shadow: vw(1) vw(1) vw(10) rgba(0, 0, 0, 0.4)
		+media-breakpoint-down(lg)
			margin-right: 16rem
			text-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.4)
	&:after
		content: ""
		display: block
		width: vw(30)
		height: vw(300)
		margin-left: vw(60)
		background: #fff
		position: absolute
		left: vw(-40)
		top: vw(-150)
		z-index: 1
		-webkit-transform: rotate(45deg)
		transform: rotate(45deg)
		transition: all 0.1s
		animation-name: slideme
		animation-duration: 3s
		animation-delay: 0.05s
		animation-timing-function: ease-in-out
		animation-iteration-count: infinite
		+media-breakpoint-down(lg)
			width: 30rem
			height: 300rem
			margin-left: 60rem
			left: -40rem
			top: -150rem

@keyframes slideme  
	0% 
		left: -30px
		margin-left: 0px
		
	30% 
		left: 110%
		margin-left: 80px
		
	100% 
		left: 110% 
		margin-left: 80px
		

.input-sbmt-btn--icon
	width: vw(24)
	height: vw(28)
	+media-breakpoint-down(lg)
		width: 24rem
		height: 28rem

.form-safety
	vertical-align: bottom
	img
		margin-right: vw(6)
		width: vw(17)	
		height: vw(22)
		+media-breakpoint-down(lg)
			margin-right: 6rem
			width: 17rem	
			height: 22rem
	span
		color: #969494
		font-size: vw(11)	
		letter-spacing: vw(0.6)
		+media-breakpoint-down(lg)
			font-size: 11rem
			letter-spacing: 0.6rem

.mouse 
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: vw(200)
	width: vw(23)		
	height: vw(74)
	+media-breakpoint-down(lg)
		display: none
		bottom: 200rem
		width: 23rem		
		height: 74rem

.icon-scroll,
.icon-scroll:before 
    position: absolute
    left: 50%

.icon-scroll 
    width: 30px
    height: 50px
    margin-left: -20px
    bottom: 10px
    margin-top: -35px
    border: 2px solid #1d4afc
    border-radius: 25px

// @media (max-width: 767px) 
//     .icon-scroll 
//         position: relative
    

.icon-scroll:before 
    content: ''
    width: 8px
    height: 8px
    background: #1d4afc
    margin-left: -4px
    top: 8px
    border-radius: 4px
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-name: scroll

@keyframes scroll 
    0% 
        opacity: 1
    
    100% 
        opacity: 0
        transform: translateY(26px)
    		

.program__paralax
	position: absolute
	bottom: 0
	right: vw(-110)
	width: vw(1256)
	height: vw(950)
	+media-breakpoint-down(lg)
		display: none

.paralax__imac
	position: absolute
	top: 0 !important
	left: 0 !important
	width: vw(775)
	height: vw(706)

.paralax__headphones
	position: absolute 
	left: vw(200) !important
	top: vw(700) !important


.paralax__screen
	position: absolute
	width: vw(492)
	height: vw(238)
	top: vw(530) !important
	left: vw(320)	 !important

.paralax__pen
	position: absolute
	top: vw(510) !important
	left: vw(680) !important
	width: vw(210)
	height: vw(109)

.paralax__lens
	position: absolute
	width: vw(93)
	height: vw(98)
	top: vw(700) !important
	left: vw(750) !important

.paralax__bot-screen
	position: absolute
	width: vw(861)
	height: vw(482)
	top: vw(200) !important
	left: vw(550) !important

.paralax__top-screen
	position: absolute
	width: vw(904)
	height: vw(506)
	top: vw(50) !important
	left: vw(550) !important
	
.paralax__queen
	position: absolute
	width: vw(197)
	height: vw(215)
	top: vw(-50) !important
	left: vw(700) !important

.program
	position: relative
	padding-top: vw(80)
	padding-bottom: vw(110)
	min-height: vw(1000)
	background: url('../img/src/program-left.png')  no-repeat top left vw(-150) / vw(513) vw(908), url('../img/src/program-center.png') no-repeat top vw(250) center / vw(397) vw(411), url('../img/src/program-right.png') no-repeat top vw(50) right vw(20) / vw(384) vw(590)
	overflow-x: hidden
	overflow-y: visible
	z-index: 1
	+media-breakpoint-down(lg)
		padding-top: 80rem
		padding-bottom: 110rem
		min-height: 1000rem
		background: url('../img/src/program-left.png')  no-repeat top left vw(-150) / vw(513) vw(908), url('../img/src/program-right.png') no-repeat top vw(50) right vw(20) / vw(384) vw(590)
		background-size: 513rem 908rem, 384rem 590rem
	+media-breakpoint-down(md)
		background: url('../img/src/program-left.png')  no-repeat top left vw(-150) / vw(513) vw(908)
		background-size: 513rem 908rem

.section-title
	margin-bottom: vw(85)
	color: $black		
	font-family: "Bebas Neue"
	font-size: vw(60)
	font-weight: 300
	letter-spacing: vw(2.8)
	+media-breakpoint-down(lg)
		margin-bottom: 85rem
		font-size: 40rem
		letter-spacing: 2.8rem
	+media-breakpoint-down(xs)
		font-size: 32rem
	span
		font-weight: 600
	br
		+media-breakpoint-down(lg)
			display: none

.program .container
	position: relative
	z-index: 1

.program .section-title	
	margin-bottom: vw(35)
	+media-breakpoint-down(lg)
		margin-bottom: 35rem
	

.program .date__month, .program .date__time	
	color: $black	

.program .date__time
	opacity: 0.75

.program .hero__date
	position: relative
	display: flex
	justify-content: flex-start
	margin-bottom: vw(50)
	+media-breakpoint-down(lg)
		margin-bottom: 50rem
	&:after
		content: ""
		position: absolute
		left: vw(350)
		top: -50%
		width: vw(187)
		height: vw(65)
		background: url('../img/src/program-arrow.png') no-repeat
		background-size: contain
		+media-breakpoint-down(lg)
			left: 350rem
			width: 187rem
			height: 65rem
		@media (max-width: 500px)
			display: none

.program__will-learn
	margin-bottom: vw(24)
	width: vw(660)
	color: $black
	font-size: vw(24)
	font-weight: 600
	letter-spacing: vw(0.6) 
	+media-breakpoint-down(lg)
		margin-bottom: 24rem
		margin: 
			left: auto
			right: auto
		width: 660rem
		font-size: 24rem
		// text-align: center
		letter-spacing: 0.6rem 
	+media-breakpoint-down(xs)
		width: auto
		// font-size: 20rem

.learn-list
	margin-bottom: vw(70)
	width: vw(660)
	+media-breakpoint-down(lg)
		margin-bottom: 94rem
		width: 660rem
		margin: 
			left: auto
			right: auto
		// margin-left: 20vw
	+media-breakpoint-down(xs)
		width: auto

.learn-item
	display: flex
	align-items: center
	&:not(:last-child)
		margin-bottom: vw(25)
		+media-breakpoint-down(lg)
			margin-bottom: 25rem

.learn-img
	margin-right: vw(35)
	width: vw(65)
	+media-breakpoint-down(lg)
		margin-right: 35rem
		width: 65rem

.lear-text


.lear-text__header
	font-size: vw(18)
	color: $black
	font-weight: 800
	letter-spacing: vw(0.45)
	+media-breakpoint-down(lg)
		font-size: 18rem
		letter-spacing: 0.45rem

.lear-text__desc
	color: $black	
	letter-spacing: vw(0.4)
	+media-breakpoint-down(lg)
		letter-spacing: 0.4rem

.learn__btn-wrap
	position: relative
	margin-left: vw(170)
	+media-breakpoint-down(lg)
		// margin-left: 340rem
		width: 404rem
		margin: 
				right: auto
				left: auto
	+media-breakpoint-down(lg)
		text-align: center
		width: auto
		max-width: 100%
	img
		position: absolute
		top: vw(-25)
		left: vw(-80)
		width: vw(175)
		height: vw(189)
		z-index: 0
		animation: fly 2s infinite
		+media-breakpoint-down(lg)
			top: -25rem
			left: -80rem
			width: 175rem
			height: 189rem
		@media (max-width: 500px)
			display: none
			width: auto

.program-dec
	display: none
	+media-breakpoint-down(lg)
		display: block		
		transform: translateX(60rem)

.learn__btn
	position: relative
	padding: vw(40) vw(31) vw(36) vw(86)
	border-radius: vw(20)	
	overflow: visible
	+media-breakpoint-down(lg)
		padding: 40rem 31rem 36rem 86rem
		border-radius: 20rem
	@media (max-width: 500px)
		padding: 40rem 40rem
		max-width: 100%
	&:hover
		box-shadow: vw(0) vw(0) vw(10) vw(3) $accent
		+media-breakpoint-down(lg)
			box-shadow: 0 0 10rem 3rem $accent
	span
		font-size: vw(13)
		text-shadow: vw(1) vw(1) vw(10) rgba(0, 0, 0, 0.4)
		+media-breakpoint-down(lg)
			font-size: 13rem
			text-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.4)

.audience
	position: relative
	padding-top: vw(125)
	padding-bottom: vw(140)
	min-height: vw(1250)
	background:  url('../img/src/audience-center.png') no-repeat left center/ vw(1467) vw(1253), url('../img/src/audience-right.png') no-repeat center right / vw(481) vw(1233)  #161922
	overflow: hidden
	+media-breakpoint-down(lg)
		padding-top: 125rem
		padding-bottom: 140rem
		min-height: 1250rem
		background-size: 1467rem 1253rem, 481rem 1233rem
	+media-breakpoint-down(md)
		background:  url('../img/src/audience-center.png') no-repeat left center/ vw(1467) vw(1253)  #161922

.audience__section-title
	color:  $white
	margin-bottom: vw(30)
	+media-breakpoint-down(lg)
		margin-bottom: 30rem

.section-tittle--accent
	color: #093bfe

.audience__list-wrap
	display: flex
	+media-breakpoint-down(lg)
		flex-wrap: wrap



.audience__list
	margin-bottom: vw(60)
	display: flex
	flex-wrap: wrap
	width: vw(1450)
	+media-breakpoint-down(lg)
		justify-content: center
		margin: 
			left: auto
			right: auto
		margin-bottom: 60rem
		// max-width: 100%
	+media-breakpoint-down(md)
		justify-content: space-between
	@media (max-width: 500px)
		justify-content: space-around

.audience__item
	margin-right: vw(46)
	width: vw(265)
	+media-breakpoint-down(lg)
		margin-right: 46rem
		width: 200rem
	@media (max-width: 500px)
		margin-right: 0
	.audience__img
		animation: breath 2s infinite
	&:nth-child(1) .audience__img
		width: vw(190)
		height: vw(230)
		+media-breakpoint-down(lg)
			width: 190rem
			height: 230rem	
	&:nth-child(2) 
		.audience__img
			width: vw(193)
			height: vw(219)
			+media-breakpoint-down(lg)
				width: 193rem
				height: 219rem
		.audience__item__header
			margin-bottom: vw(45)
			+media-breakpoint-down(lg)
				margin-bottom: 45rem
	&:nth-child(3) .audience__img
		width: vw(197)
		height: vw(227)
		+media-breakpoint-down(lg)
			width: 197rem
			height: 227rem
	&:nth-child(4) .audience__img
		width: vw(176)
		height: vw(220)
		+media-breakpoint-down(lg)
			width: 176rem
			height: 220rem
	&:nth-child(5) .audience__img
		width: vw(205)
		height: vw(224)
		+media-breakpoint-down(lg)
			width: 205rem
			height: 224rem
	&:nth-child(6) .audience__img
		width: vw(172)
		height: vw(230)
		+media-breakpoint-down(lg)
			width: 172rem
			height: 230rem

@keyframes breath
	0%
		transform: scale(1)
	50%	
		transform: scale(1.1)
	100%
		transform: scale(1)

.audience__img
	max-height: vw(219)	
	+media-breakpoint-down(lg)
		max-height: 219rem	
	img
		// width: 100%
		

.audience__item__header	
	margin-bottom: vw(22)
	font-size: vw(24)
	font-weight: 600
	line-height: 1
	letter-spacing: vw(0.6)
	+media-breakpoint-down(lg)
		margin-bottom: 22rem
		font-size: 16rem
		letter-spacing: 0.6rem

.audience__item__content	
	font-size: vw(16)
	line-height: vw(22)
	letter-spacing: vw(0.8)
	opacity: 0.5
	+media-breakpoint-down(lg)
		font-size: 16rem
		line-height: 22rem
		letter-spacing: 0.8rem

.audience__mockup
	// position: relative
	// right: vw(-20)
	// bottom: vw(-30)
	width: vw(923)
	height: vw(912)
	overflow: visible
	transform: translate(vw(230), 20%) !important
	+media-breakpoint-down(lg)
		// display: none
		// right: -20rem
		// bottom: -30rem
		transform: translate(25%,0) !important
		width: 923rem
		height: auto
	// @media (max-width: 1125px)
	+media-breakpoint-down(md)
		transform: translate(6%,0) !important
	picture
		display: block


.audience .learn__btn-wrap
	margin-left: vw(500)
	+media-breakpoint-down(lg)
		margin-left: 0

.speaker
	padding-top: vw(60)	
	min-height: vw(1110)
	background: url('../img/src/speaker-right.png') no-repeat top right / contain
	overflow: hidden
	+media-breakpoint-down(lg)
		padding-top: 60rem
		// padding-bottom: 60rem
		min-height: 1110rem
	+media-breakpoint-down(xs)
		background-image: none
	
.speaker .container	
	position: relative

.speaker__section-title
	margin-bottom: vw(8)
	+media-breakpoint-down(lg)	
		margin-bottom: 8rem

.speaker .hero-title
	margin-bottom: vw(45)
	font-weight: 300
	padding-top: vw(15)
	padding-bottom: vw(14)
	font-size: vw(20)
	text-transform: none
	letter-spacing: vw(0)
	+media-breakpoint-down(lg)
		margin-bottom: 45rem
		padding-top: 15rem
		padding-bottom: 14rem
		font-size: 20rem

.speaker__facts
	margin-bottom: vw(25)
	color: $blackish
	font-family: "Bebas Neue"
	font-weight: 300
	font-size: vw(36)
	text-transform: uppercase
	letter-spacing: vw(1.8)
	+media-breakpoint-down(lg)
		margin-bottom: 25rem
		font-size: 36rem
		letter-spacing: 1.8rem
	+media-breakpoint-down(sm)
		font-size: 26rem
	span
		font-weight: 700

.facts__list
	display: flex
	flex-wrap: wrap	
	margin-bottom: vw(50)
	max-width: vw(1040)	
	+media-breakpoint-down(lg)
		margin-bottom: 50rem
		max-width: 1040rem
	+media-breakpoint-down(xs)
		justify-content: flex-start

.facts__item
	display: flex
	justify-content: space-between
	align-items: center
	margin-right: vw(15)
	margin-bottom: vw(12)
	padding-right: vw(20)
	height: vw(108)
	border: vw(1) dashed #ddd
	background-color: #fff
	border-radius: vw(5)
	+media-breakpoint-down(lg)
		margin-right: 15rem
		margin-bottom: 12rem
		padding-right: 20rem
		height: 108rem
		border: 1rem dashed #ddd
		border-radius: 5rem
	+media-breakpoint-down(xs)
		flex-direction: column
		height: auto
		align-items: end
		padding: 10rem
		.facts__img
			margin-bottom: 10rem
		.facts__text
			width: auto
	& br
			+media-breakpoint-down(xs)
				display: none
	&:nth-child(1)
		width: vw(595)
		color: $blackish
		+media-breakpoint-down(lg)
			width: 595rem
		+media-breakpoint-down(xs)
			width: auto
		& .facts__img
			margin-right: vw(5)
			width: vw(174)
			align-self: flex-end
			+media-breakpoint-down(lg)
				margin-right: 5rem
				width: 174rem
			
				align-self: start
		& .facts__text
			width: vw(395)
			+media-breakpoint-down(lg)
				width: 395rem
			+media-breakpoint-down(xs)
				flex-grow: 1
				// padding: 10rem 20rem
				width: auto
				height: auto
	&:nth-child(2)
		width: vw(425)
		+media-breakpoint-down(lg)
			width: 425rem
		& .facts__img
			width: vw(171)
			+media-breakpoint-down(lg)
				width: 171rem
		& .facts__text
			width: vw(233)
			+media-breakpoint-down(lg)
				width: 233rem
			+media-breakpoint-down(xs)
				width: auto
		
	&:nth-child(3)
		width: vw(349)
		+media-breakpoint-down(lg)
			width: 349rem
		& .facts__img
			width: vw(85)
			+media-breakpoint-down(lg)
				width: 85rem
		& .facts__text
			width: vw(235)
			+media-breakpoint-down(lg)
				width: 235rem
	&:nth-child(4)
		width: vw(275)
		+media-breakpoint-down(lg)
			width: 275rem
		& .facts__img
			margin-left: vw(20)
			width: vw(81)
			+media-breakpoint-down(lg)
				margin-left: 20rem
				width: 81rem
		& .facts__text
			width: vw(125)
			+media-breakpoint-down(lg)
				width: 125rem
	&:nth-child(5)
		width: vw(349)
		+media-breakpoint-down(lg)
			width: 349rem
		& .facts__img
			margin-left: vw(17)
			margin-right: vw(11)
			width: vw(136)
			+media-breakpoint-down(lg)
				margin-left: 17rem
				margin-right: 11rem
				width: 136rem
		& .facts__text
			width: vw(235)
			+media-breakpoint-down(lg)
				width: 235rem

.facts__img
	flex-shrink: 0
	&:nth-child(1)
		
	&:nth-child(2)
		

.facts__text
	flex-shrink: 0
	color: $blackish
	font-size: vw(16)	
	line-height: vw(20)
	font-weight: 300
	letter-spacing: vw(0.4)
	+media-breakpoint-down(lg)
		font-size: 16rem
		line-height: 20rem
		letter-spacing: 0.4rem
	span
		font-weight: 800
	
.facts__list-title
	margin-bottom: vw(22)
	font-family: "Bebas Neue"
	color: $blackish
	font-size: vw(36)	
	font-weight: 300
	letter-spacing: vw(1.8)
	text-transform: uppercase
	+media-breakpoint-down(lg)
		margin-bottom: 22rem
		font-size: 36rem	
		letter-spacing: 1.8rem

	span
		font-weight: 700

.facts__competences
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: vw(60)
	width: vw(530)
	+media-breakpoint-down(lg)
		margin-bottom: 60rem
		width: 530rem
	+media-breakpoint-down(xs)
		width: auto

.competence__item
	position: relative
	padding-left: vw(22)
	margin-bottom: vw(15)
	width: vw(235)
	color: $blackish
	font-size: vw(16)
	font-weight: 400
	letter-spacing: vw(0.8)
	+media-breakpoint-down(lg)
		padding-left: 22rem
		margin-bottom: 15rem
		width: 235rem
		font-size: 16rem
		letter-spacing: 0.8rem
	+media-breakpoint-down(xs)
		margin-right: 15rem
	&:before
		content: ""
		position: absolute
		left: 0
		top: 50%
		transform: translateY(-50%)
		display: block
		width: vw(11)
		height: vw(19)
		background: url('../img/src/lightning-no-shadow.png') no-repeat
		background-size: cover
		+media-breakpoint-down(lg)
			width: 11rem
			height: 19rem

.facts__clients
	// display: flex
	// flex-wrap: wrap
	display: table
	padding-bottom: 60rem
	+media-breakpoint-down(lg)
		
	+media-breakpoint-down(sm)
		display: block

.clients-row
	display: table-row	
	+media-breakpoint-down(sm)
		display: flex
		flex-wrap: wrap

.client-item
	// max-width: vw()
	display: table-cell
	padding-bottom: vw(9)
	+media-breakpoint-down(lg)
		padding-bottom: 9rem
	+media-breakpoint-down(sm)
		display: block
	&:not(:last-child)
		padding-right: vw(23)
		+media-breakpoint-down(lg)
			padding-right: 23rem

.speaker__video
	position: absolute
	bottom: 0	
	right: -12%
	width: vw(900)
	height: vw(888)
	+media-breakpoint-down(lg)
		position: relative
		right: auto
		margin: 0 auto
		width: 630rem
		height: 621.6rem
	+media-breakpoint-down(xs)
		width: auto
		height: auto
		vertical-align: bottom

.video-wrap
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(#000, 0.7)
	z-index: 50

.video-close


.video-frame	
	position: absolute
	display: flex
	width: 100%
	height: 100%
	justify-content: center
	align-items: center

.video-container
	// width: 560px
	// height: 315px
	width: 53.3vw
	height: 30vw
	+media-breakpoint-down(xs)	
		width: 320px
		height: 180px

.video-close
	position: absolute
	top: 10%
	right: 10%
	width: 40px	
	height: 40px
	cursor: pointer
	z-index: 5
	&::before,
	&::after
		content: ""
		position: absolute
		left: 0
		display: block
		width: 40px
		height: 4px
		background-color: #fff
		border-radius: 5px
	&::before
		top: 17px
		transform: rotate(-45deg)
	&::after
		top: 17px
		transform: rotate(45deg)

.play-btn
	position: absolute
	left: -10%
	bottom: 30%
	width: vw(186)	
	height: vw(186)
	cursor: pointer
	border-radius: 50%
	animation: pulse 2s infinite
	+media-breakpoint-down(lg)
		bottom: 30%
		left: 50%
		transform: translateX(-50%)
		width: 116rem
		height: 116rem
	+media-breakpoint-down(md)
	+media-breakpoint-down(xs)
	.icon
		animation: breath 2s infinite
	&:hover
		animation: none	

@keyframes spin 
	to 
		transform: rotate(360deg)


.stroke-dotted 
	opacity: 0
	stroke-dasharray: 4,5
	stroke-width: 1px
	transform-origin: 50% 50%
	animation: spin 4s infinite linear
	transition: opacity 1s ease, stroke-width 1s ease

.stroke-solid 
	stroke-dashoffset: 0
	stroke-dashArray: 300
	stroke-width: 4px
	transition: stroke-dashoffset 1s ease, opacity 1s ease


.icon 
	transform-origin: 50% 50%
	transition: transform 200ms ease-out


// Hover
#play:hover 
	.stroke-dotted 
		stroke-width: 4px
		opacity: 1
	.stroke-solid 
		opacity: 0
		stroke-dashoffset: 300
	.icon 
    	transform: scale(1.05)
  		

.speaker__invoke
	position: absolute
	left: vw(-150)
	bottom: vw(30)
	color: #0034ff
	font-size: vw(12)
	text-align: center
	letter-spacing: vw(0.3)
	user-select: none
	+media-breakpoint-down(lg)
		left: 0%
		bottom: -50%
		font-size: 12rem
		letter-spacing: 0.3rem
	&:before
		content: ""
		position: absolute
		top: -250%
		width: vw(87)
		height: vw(60)
		background: url(../img/src/speaker-arrow.png) no-repeat center / contain
		+media-breakpoint-down(lg)
			display: none
				top: -250%
				width: 87rem
				height: 60rem

.booking
	padding-top: vw(80)
	// padding-bottom: vw(10)
	// min-height: vw(1060)
	background: url('../img/src/booking-left.png') no-repeat left center / vw(545) vw(1062), url('../img/src/booking-right.png') no-repeat right center / vw(794) vw(1047), url('../img/src/booking-center.png') no-repeat center / vw(1253) vw(1306) #181a20
	overflow: hidden
	+media-breakpoint-down(lg)	
		background-size: 542rem 1062rem, 794rem 1047rem, 1253rem 1306rem 
		padding-top: 80rem
		padding-bottom: 80rem
		// min-height: 1060rem

.booking .container
	text-align: center

.booking__section-title
	margin-bottom: vw(25)
	font-family: "Bebas Neue"
	color: $white
	letter-spacing: vw(2.13)
	+media-breakpoint-down(lg)
		margin-bottom: 25rem
		letter-spacing: 2.13rem
	span
		font-weight: 600

.booking .signup__getpdf
	margin-bottom: vw(15)
	font-size: vw(18)	
	+media-breakpoint-down(lg)
		margin-bottom: 15rem
		font-size: 18rem

.booking .signup__title
	margin-bottom: vw(40)
	line-height: vw(50)
	font-size: vw(40)
	+media-breakpoint-down(lg)
		margin-bottom: 40rem
		line-height: 50rem
		font-size: 40rem

.booking .hero__date
	margin-bottom: vw(15)	
	+media-breakpoint-down(lg)
		margin-bottom: 15rem

.booking .hero__signup
	margin-left: auto
	margin-right: auto
	margin-bottom: vw(70)
	// padding-top: vw(50)
	padding-bottom: vw(20)
	height: vw(467)
	background-size: vw(483) vw(467)
	+media-breakpoint-down(lg)
		// padding-top: 90rem
		padding-bottom: 0
		min-height: 550rem
		background-size: 483rem 467rem
	&:before
		display: none
	&:after
		top: vw(-120)
		left: vw(-350)
		// width: vw(440)
		// height: vw(479)
		// background: url(../img/src/mockup.png) no-repeat center / contain
		// +media-breakpoint-down(lg)
		// 	top: -130rem
		// 	left: -350rem
		// 	width: 440rem
		// 	height: 479rem


.booking label[for="input-phone"]
	&:before
		background-image: url(../img/src/booking-arrow.png)
		top: vw(80)
		left: vw(-40)
		width: vw(116)
		height: vw(42)
		// transform: rotate(-45deg)
		// background-size: vw(42) vw(115)

.footer
	padding-top: vw(80)
	padding-bottom: vw(80)
	// background-color: #18191b
	border-top: vw(1) solid #142036
	overflow: hidden
	+media-breakpoint-down(lg)
		padding-top: 80rem
		border-top: 1rem solid #142036

.footer .container
	display: flex
	align-items: center
	+media-breakpoint-down(lg)
		width: 758rem
		flex-wrap: wrap
		justify-content: space-between
	+media-breakpoint-down(md)
		justify-content: center
		width: 420px
	+media-breakpoint-down(sm)
		width: 387px
	+media-breakpoint-down(xs)
		width: 288px
	@media (max-width: 272px)
		justify-content: center
		

.footer__credentials
	margin-right: vw(68)
	font-size: vw(12)
	line-height: vw(24)
	+media-breakpoint-down(lg)
		margin-right: 68rem
		margin-bottom: 30rem
		font-size: 12rem
		line-height: 24rem
	+media-breakpoint-down(md)
		margin-right: 0

.footer__documents 
	margin-right: vw(70)
	+media-breakpoint-down(lg)
		margin-right: 70rem
		margin-bottom: 30rem
	+media-breakpoint-down(md)
		margin-right: 0
	a
		display: block
		font-size: vw(12)
		line-height: vw(24)
		text-decoration: underline
		+media-breakpoint-down(lg)
			font-size: 12rem
			line-height: 24rem
		&:hover
			color: $accent

.footer .phones
	display: block
	margin-right: vw(32)
	margin-bottom: 0
	// align-self: flex-end
	+media-breakpoint-down(lg)
		margin-right: 32rem
	.phones-item
		&:not(:last-child)
			margin-bottom: vw(11)
			margin-right: 0
		+media-breakpoint-down(lg)
			margin-bottom: 11rem

.footer__links
	text-align: center

.footer .socials	
	margin-right: vw(49)
	margin-bottom: vw(0)
	vertical-align: middle
	+media-breakpoint-down(lg)
		margin-right: 49rem
		margin-bottom: 17rem
	+media-breakpoint-down(md)
		margin-right: 0

.links__list
	display: flex
	justify-content: center
	margin-bottom: vw(17)
	+media-breakpoint-down(lg)
		margin-bottom: 17rem
	.social__item:not(:last-child)
		margin-right: vw(16)	
		+media-breakpoint-down(lg)	
			margin-right: 16rem

.social-link
	display: block	
	width: vw(24)
	height: vw(23)
	+media-breakpoint-down(lg)
		width: 24rem
		height: 23rem
	&:hover
		position: relative
		img
			transform: translateY(vw(-10))
			transition: transform .2s ease-in

.website-link
	color: #2e58fb	
	font-size: vw(14)
	line-height: vw(18)
	text-decoration: underline
	letter-spacing: vw(0.7)
	+media-breakpoint-down(lg)
		font-size: 14rem
		line-height: 18rem
		letter-spacing: 0.7rem
	&:visited
		color: #2e58fb	
	&:hover
		color: $white

.popup-backdrop
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	z-index: 10
	background-color: #1d1d1d
	opacity: .85
	z-index: 5

.popup-wrap
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	overflow-y: auto
	z-index: 10	

.popup
	position: relative
	top: 0
	left: 50%
	transform: translateX(-50%)
	padding:
		top: vw(130)
		left: vw(70)
		right: vw(70)
		bottom: vw(100)
	width: vw(832)
	height: vw(1053)
	text-align: center
	background: url('../img/src/popup.png') no-repeat center / contain
	background-origin: border-box
	z-index: 20
	+media-breakpoint-down(lg)
		padding:
			top: 130rem
			left: 70rem
			right: vw(70)
			bottom: vw(100)
		width: vw(832)
		height: vw(1053)
		

.popup__header
	margin-bottom: vw(20)
	color: #2c56fb
	font-family: "Bebas Neue"
	font-weight: 700
	font-size: vw(48)
	letter-spacing: vw(1.88)
	+media-breakpoint-down(lg)
		margin-bottom: 20rem
		font-size: 48rem
		letter-spacing: 1.88rem

.popup__this-popup
	margin-bottom: vw(30)
	font-size: vw(24)
	line-height: vw(25)
	letter-spacing: vw(0.47)
	+media-breakpoint-down(lg)
		margin-bottom: 30rem
		font-size: 24rem
		line-height: 25rem
		letter-spacing: 0.47rem

.popup__get-bonus
	margin-bottom: vw(30)
	font-family: "Bebas Neue"
	font-weight: 700
	font-size: vw(48)
	line-height: vw(46)
	letter-spacing: vw(1.88)
	+media-breakpoint-down(lg)
		margin-bottom: 30rem
		font-size: 48rem
		line-height: 46rem
		letter-spacing: 1.88rem

.popup .signup-form
	margin-bottom: vw(22)
	+media-breakpoint-down(lg)
		margin-bottom: 22rem

.popup label
	margin-bottom: vw(12)
	font-size: vw(17)
	letter-spacing: vw(0.13)
	line-height: vw(17.89)
	+media-breakpoint-down(lg)
		margin-bottom: 12rem
		font-size: 17rem
		letter-spacing: 0.13rem
		line-height: 17.89rem

.popup input, .popup .select-occupation
	display: block
	margin-left: auto
	margin-right: auto
	width: vw(388)
	height: vw(65)
	font-size: vw(18)
	+media-breakpoint-down(lg)
		width: 388rem
		height: 65rem
		font-size: 18rem

.popup .select-occupation
	padding-top: 0
	span
		line-height: vw(65)
		+media-breakpoint-down(lg)
			line-height: vw(65)

.popup .select-occupation .option
	width: vw(388)
	height: vw(65)
	+media-breakpoint-down(lg)
		width: 388rem
		height: 65rem

.popup 	.input-sbmt-btn
	padding: vw(28) vw(50)
	width: vw(388)
	height: vw(82)
	vertical-align: middle
	+media-breakpoint-down(lg)
		padding: 28rem 50rem
		width: 388rem
		height: 82rem
	span
		font-size: vw(15)
		font-weight: 700
		letter-spacing: vw(0.9)
		+media-breakpoint-down(lg)
			font-size: 15rem
			letter-spacing: 0.9rem

.popup .input-sbmt-btn--icon	
	padding-bottom: vw(3)
	width: vw(28)	
	height: vw(26)
	+media-breakpoint-down(lg)
		padding-bottom: 3rem
		width: 28rem
		height: 26rem

.popup .form-safety span
	font-size: vw(15)
	+media-breakpoint-down(lg)
		font-size: 15rem

.popup .select-occupation, .popup input
	margin-bottom: vw(33)
	+media-breakpoint-down(lg)
		margin-bottom: 33rem

.popup__bonus
	position: absolute
	top: vw(230)
	left: vw(-230)
	width: vw(438)	
	height: vw(419)
	+media-breakpoint-down(lg)
		position: absolute
		top: 230rem
		left: -230rem
		width: 438rem	
		height: 419rem

.popup__close
	position: absolute
	top: vw(110)
	right: vw(80)
	width: vw(40)
	height: vw(40)	
	cursor: pointer
	+media-breakpoint-down(lg)
		top: 110rem
		right: 80rem
		width: 40rem
		height: 40rem
		
	&:before, &:after
		content: ""
		position: absolute
		top: vw(17)
		left: vw(8)
		width: vw(25)
		height: vw(5)
		background-color: #464647
		border-radius: vw(10)
		+media-breakpoint-down(lg)
			top: 17rem
			left: 8rem
			width: 25rem
			height: 5rem
			border-radius: 10rem
	&:before
		transform: rotate(45deg)
	&:after
		transform: rotate(-45deg)

// Thanks page

.thanks .header
	position: relative	
	padding: 
		top: vw(160)
		bottom: vw(250)
	min-height: vw(992)
	background-color: #1b1918
	+media-breakpoint-down(lg)
		padding: 
			top: 160rem
			bottom: 250rem
		min-height: 992rem

.thanks__header-left
	position: absolute
	left: 0
	top: 27%	
	width: vw(423)
	height: vw(390)
	+media-breakpoint-down(lg)
		width: 423rem
		height: 390rem

.thanks__header-right	
	position: absolute	
	right: 0
	top: 14%
	width: vw(460)
	height: vw(618)
	+media-breakpoint-down(lg)
		width: 460rem
		height: 618rem

.thanks-hero
	text-align: center	

.thanks__h1
	margin-bottom: vw(38)	
	+media-breakpoint-down(lg)
		margin-bottom: 38rem

.thanks__date-start
	margin-right: vw(17)
	font-family: "Bebas Neue"
	font-size: vw(42)
	font-weight: 200
	text-transform: uppercase;
	letter-spacing: vw(0.89)
	+media-breakpoint-down(lg)
		margin-right: 17rem
		font-size: 42rem
		letter-spacing: .89rem

.thanks .hero__date
	margin-bottom: vw(40)
	+media-breakpoint-down(lg)
		margin-bottom: 40rem

.thanks .check-mail
	margin: 
		left: auto
		right: auto
		bottom: vw(46)
	width: vw(955)
	font-size: vw(18)
	line-height: vw(30)
	letter-spacing: vw(0.9)
	+media-breakpoint-down(lg)
		margin-bottom: 46rem
		width: 955rem
		font-size: 18rem
		line-height: 30rem
		letter-spacing: .9rem

.thanks .messengers
	padding: vw(60) vw(120) vw(58) vw(120)
	margin: 
		left: auto
		right: auto
	width: vw(1005)
	min-height: vw(273)
	text-align: center
	background: url('../img/svg/thanks-form.svg') no-repeat center center / vw(1005) vw(300)
	filter: drop-shadow(0 vw(1) vw(65) rgba(0, 0, 0, 0.5))
	+media-breakpoint-down(lg)
		padding: 73rem 120rem 58rem 120rem
		width: 1005rem
		min-height: 273rem


.messengers__title
	margin-bottom: vw(15)
	font-family: "Bebas Neue"
	font-size: vw(30)
	letter-spacing: vw(1.5)
	+media-breakpoint-down(lg)
		margin-bottom: 15rem
		font-size: 30rem
		letter-spacing: 1.5rem

.messengers__text
	margin-bottom: vw(28)
	font-weight: 200
	letter-spacing: vw(0.8)
	+media-breakpoint-down(lg)
		margin-bottom: 28rem
		letter-spacing: .8rem

.messengers__list
	display: flex
	justify-content: space-between
	li:not(:last-child)
		margin-right: vw(22)
		+media-breakpoint-down(lg)
			margin-right: 22rem

.messengers__link
	display: inline-block
	padding: vw(22) vw(30) vw(20) vw(30)
	font-size: vw(14)
	line-height: vw(16.26)
	text-transform: uppercase
	letter-spacing: vw(1.16)
	white-space: nowrap
	border: 1px dashed #0034ff
	border-radius: vw(4)
	+media-breakpoint-down(lg)
		padding: 22rem 30rem 20rem 30rem
	&:hover
		background-color: #0034ff;

.messengers__link-img
	margin-right: vw(10)
	+media-breakpoint-down(lg)
		margin-right: 10rem

.wave
	position: absolute
	bottom: 0
	left: 0
	width: 100vw
	height: vw(140)
	+media-breakpoint-down(lg)
		height: 140rem

.video .container 
	padding-bottom: vw(160)
	text-align: center	
	+media-breakpoint-down(lg)


.video
	background-color: #fff	

.video .section-title
	position: relative
	display: inline-block
	margin-bottom: vw(23)
	text-align: center
	&:after
		content: ""
		position: absolute
		display: block
		right: vw(-40)
		bottom: vw(-90)
		width: vw(63)
		height: vw(125)
		background: url("../img/src/thanks-video.png") no-repeat center / contain
		

.video-long
	margin-bottom: vw(60)
	color: $black
	font-size: vw(16)
	opacity: 0.65;
	letter-spacing: vw(0.8)

.video__content
	// position: relative
	display: flex
	justify-content: flex-start
	align-items: center
	margin: 0 auto
	padding: vw(100) vw(146) vw(100) vw(146)
	width: vw(1300)		
	height: vw(704)
	text-align: left
	background: url("../img/src/video.jpg") no-repeat center right / cover
	border-radius: vw(15)

.video__text
	 

.video__text-item
	font-family: "Bebas Neue"
	font-size: vw(106)
	letter-spacing: 0.8px
	&:nth-child(1)
		color: $whitish
		font-weight: 300
	&:nth-child(2)
		color: $accent
		font-weight: 700


.sell .section-title
	margin-bottom: vw(101)
	text-align: center	
	&:after
		content: ""
		position: absolute
		display: block
		right: vw(-40)
		bottom: vw(-90)
		width: vw(63)
		height: vw(125)
		background: url("../img/src/sell-arrow.png") no-repeat center / contain
